<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message | create</title>
</head>
<body>
    <h2 align="center">Create Message</h2>
    <form method="POST" action="/create">
        {% csrf_token %}
    <table align="center">
        <tr>
            <td>Enter Name:</td>
            <td><input type="text" name="uname" placeholder="Sender name"/>
        </tr>
        <tr>
            <td>Enter Email id:</td>
            <td><input type="email" name="uemail" placeholder="email id"/>
        </tr>
        <tr>
            <td>Enter Mobile:</td>
            <td><input type="number" name="mobile" placeholder="Mobile number"/>
        </tr>
        <tr>
            <td>Message:</td>
            <td><textarea name='msg' rows="5" cols='20'></textarea></td>
        </tr>
        <tr>
         
            <td colspan='2' align='center'><input type="submit" value="send">
        </tr>

    </table>    
</form>
</body>
</html>